<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rivew</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Complete Review </h1>
        <div class="book">
            <p>Id: <%= book.id %></p>
            <h2>Book Name: <%= book.bookName %></h2>
            <h2 class="author">Author: <%= book.author %></h2>
            <h3>Reviewer: <%= book.reviewer %></h3>
            <p>Rating: <%= book.rating %></p>
            <p>Review: <%= book.review%></p>
        </div>
</body>
</html>
